{% extends "base.html" %} {% block content %} {% from "_macros.html" import
render_field %}
<div class="row justify-content-center py-2">
  <div class="col-lg-8">
    <div class="card p-4 p-md-5 shadow">
      <div class="card-body">
        <h1 class="text-center mb-4">Зв'яжіться зі мною</h1>
        <p class="text-center text-muted mb-5">
          Ви можете знайти мене в соціальних мережах або надіслати повідомлення
          через форму нижче.
        </p>

        <!-- Соціальні мережі -->
        <div class="text-center mb-5 contact-links">
          <a href="https://t.me/Finkord" target="_blank" title="Telegram"><i class="bi bi-telegram"></i></a>
          <a href="https://linkedin.com/in/volodymyr-fufalko-5a12432b5" target="_blank" title="LinkedIn"><i
              class="bi bi-linkedin"></i></a>
        </div>

        <form id="contactForm" method="POST" novalidate>
          {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ render_field(form.name, placeholder="Ім'я") }}
          </div>
          <div class="mb-3">
            {{ render_field(form.email, placeholder="name@example.com") }}
          </div>

          <div class="mb-3">
            {{ render_field(form.phone, placeholder="+380123412345") }}
          </div>

          <div class="mb-3">{{ render_field(form.subject) }}</div>

          <div class="mb-4">
            {{ render_field(form.message, placeholder=" Напишіть ваше повідомлення тут...") }}
          </div>
          <div class="d-grid">
            {{ form.submit(class="btn btn-primary btn-lg") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script></script>
{% endblock %}